body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px;
}

.sex {
  margin-top: 20px;
}

.sex--name {
  font-size: 20px;
  font-weight: bold;
  color: #000; /* Змінено колір на чорний */
}

.sex-radio {
  display: none;
}

.sex-radio + label {
  background-color: #ccc;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#male:checked + label {
  background-color: #0077b6;
}

#female:checked + label {
  background-color: #ff66b2;
  color: white;
}

.generate, .copy-button {
  position: relative;
  background-color: #4CAF50;
  font-size: 16px;
  color: white;
  padding: 12px 24px; /* Змінено розмір кнопок */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Додана тінь */
}

.generate:hover, .copy-button:hover {
  background-color: #005f8d; /* Темно-зелений колір кнопки при наведенні */
}

.text {
  border: 1px solid #ccc; /* Змінено колір рамки на чорний */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: normal;
  text-align: center; /* Змінено вирівнювання тексту на центр */
  display: block;
  width: 400px; /* Змінено ширину відповідно до генератора ЗАС */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Додана тінь */
}

.alert {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  border-radius: 5px;
}
